In [5]:
import csv
from io import StringIO
import time

import pandas as pd
from sqlalchemy import create_engine

In [6]:
# Define your PostgreSQL connection string here
PG_STRING = 'postgresql://jokikim:v2_44Fmg_TqqaWTq6LJ6shs3mPZLvskL@db.bit.io:5432/jokikim/demo'

In [8]:
# Create SQLAlchemy engine to manage our database connections
# Note that we bump the statement_timeout to 60 seconds
# pool_pre_ping=True 
engine = create_engine(PG_STRING, pool_pre_ping=True)
# SQL for querying an entire table
sql = f'''
    SELECT *
    FROM "adv_meters";
'''
# Return SQL query as a pandas dataframe
with engine.begin() as conn:
    # Set 1 minute statement timeout (units are milliseconds)
    conn.execute("SET statement_timeout = 60000;")
    df = pd.read_sql(sql, conn)

In [9]:
df.head()

,Unnamed: 0,Data Year,Utility Number,Utility Name,ownership,Short Form,state,BA Code,AMR (Residential),AMR (Commercial),...,BA Name,Time Zone,Region/Country Code,Region/Country Name,Generation Only BA,Demand by BA Subregion,U.S. BA,Active BA,Activation Date,Retirement Date
0,0,2021,34,City of Abbeville - (SC),Municipal,Y,SC,DUK,2916,488,...,Duke Energy Carolinas,Eastern,CAR,Carolinas,No,No,Yes,Yes,None,None
1,1,2021,55,City of Aberdeen - (MS),Municipal,0,MS,TVA,0,0,...,Tennessee Valley Authority,Central,TEN,Tennessee,No,No,Yes,Yes,None,None
2,2,2021,84,A & N Electric Coop,Cooperative,0,MD,PJM,0,0,...,"PJM Interconnection, LLC",Eastern,MIDA,Mid-Atlantic,No,Yes,Yes,Yes,None,None
3,3,2021,84,A & N Electric Coop,Cooperative,0,VA,PJM,5,125,...,"PJM Interconnection, LLC",Eastern,MIDA,Mid-Atlantic,No,Yes,Yes,Yes,None,None
4,4,2021,87,City of Ada - (MN),Municipal,Y,MN,MISO,870,170,...,"Midcontinent Independent System Operator, Inc.",Central,MIDW,Midwest,No,Yes,Yes,Yes,None,None

In [11]:
class MethodTypes:

    name = "Ragnar"

    def instanceMethod(self):
        # Creates an instance atribute through keyword self
        self.lastname = "Lothbrock"
        print(self.name)
        print(self.lastname)

    @classmethod
    def classMethod(cls):
        # Access a class atribute through keyword cls
        cls.name = "Lagertha"
        print(cls.name)

    @staticmethod
    def staticMethod():
        print("This is a static method")

In [12]:
# Creates an instance of the class
m = MethodTypes()

In [13]:
# Calls instance method
m.instanceMethod()

Ragnar
Lothbrock

In [14]:
MethodTypes.classMethod()

Lagertha

In [15]:
MethodTypes.staticMethod()

This is a static method

In [16]:
m.classMethod()

Lagertha